<div class="contents row">
  <% @gifts.each do |gift| %>
    <div class="content_post" style="background-image: url(<%= gift.image %>);">
      <p><%= gift.text %></p>
      <span class="name">
        <%= gift.name %>
      </span>
    </div>
  <% end %>
</div>