<div class ="contents row">
  <div class="content_post" >
    <img src="https://res.cloudinary.com/tanp/image/fetch/c_fill,f_auto,h_280,q_auto,w_360/https://s3-ap-northeast-1.amazonaws.com/gracia.tamp/product1028/S__5292050.jpg">
    <div>漆×ガラス ペアフリーグラス(名入れギフト)</div>
    <div>7000円(税込み)</div>
    <div>グラスの底面に職人の手により、一つ一つ丁寧に美しい桜が描かれています</div>
    <div>店名</div>

    <img src="https://res.cloudinary.com/tanp/image/fetch/c_fill,f_auto,h_280,q_auto,w_360/https://s3.ap-northeast-1.amazonaws.com/gracia.tamp/product1079/AxURxYvQ-min.jpeg">
    <div>アクセサリー収納ケース(名入れギフト)</div>
    <div>15000円(税込み)</div>
    <div>スタイリッシュで高級感漂うデザイン</div>
    <div>店名</div>

  </div>
</div>