<div class ="contents row">
  <p>Premium Gift</p>

  <%= form_with(url: search_items_path, method: :get, local: true, class: "search-form") do |f| %>
    <%= f.text_field :keyword, placeholder: "ギフトを検索", class: "search-input" %>
    <%= f.submit "検索", class: "search-btn" %>
  <% end %>

   <% @items.each do |item| %>
    <%= render partial: "item", locals: { item: item } %>
   <% end %>
</div>